
.textosytodo {
    margin: 20px;
    box-sizing: border-box;
}

.fila1 {
    display: flex;
    flex-flow: column;
}

.titulo {
    font-family: 'arial';
    font-size: 30px;
    color: rgb(54, 134, 107);
}

.pfila1 {
    font-weight: bolder;
    font-family: 'Calibri';
    font-size: 16px;
}

.fila2 {
    margin-top: 50px;
    display: flex;
    background-color: #f5eef5;
}

.texto2_1 {
    font-family: 'calibri';
    font-size: 25px;
    width: 50%;
    float: left;
}

.img_seccion_2 {
    width: 50%;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    float: right;
}

.texto2_2 {
    font-family: 'calibri';
    font-size: 25px;
    width: 50%;
    float: left;
    margin-left: 50px;
}

.textogris {
    color: gray;
    font-size: 28px;
}

.textopequeño {
    font-size: 13px;
}

.footer {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
    border-color: black;
    color: white;
}

.maintextfooter {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 50px;
}

.col4 {
    border:2px solid rgb(0, 0, 0);
    float:left;
    height:100%;
    background-color: black;
    color: white;
    display: flex;
    

}

.filan2 {
    background-color: #FAF5F3;
}

.filan3 {
    background-color: #f2f9f8;
}

.parteabajo {
    background-color: black;
}

.fila4 {
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}